.section {
  max-width: 2000px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.form {
  perspective: 800px;
  width: 300px;
  margin: 0 auto;
}

.input-field {
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: bottom center;
}

.input-field:focus {
  border-color: #6c63ff;
  transform: translateY(-5px) rotateX(30deg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.submit-button {
  background-color: #6c63ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: bottom center;
}

.submit-button:hover {
  background-color: #594ecc;
  transform: translateY(-5px) rotateX(30deg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
